
## <summary>policy for chipo</summary>


########################################
## <summary>
##	Transition to chipo.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`chipo_domtrans',`
	gen_require(`
		type chipo_t, chipo_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, chipo_exec_t, chipo_t)
')


########################################
## <summary>
##	Execute chipo server in the chipo domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chipo_initrc_domtrans',`
	gen_require(`
		type chipo_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, chipo_initrc_exec_t)
')


########################################
## <summary>
##	Search chipo lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chipo_search_lib',`
	gen_require(`
		type chipo_var_lib_t;
	')

	allow $1 chipo_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read chipo lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chipo_read_lib_files',`
	gen_require(`
		type chipo_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, chipo_var_lib_t, chipo_var_lib_t)
')

########################################
## <summary>
##	Manage chipo lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chipo_manage_lib_files',`
	gen_require(`
		type chipo_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, chipo_var_lib_t, chipo_var_lib_t)
')

########################################
## <summary>
##	Manage chipo lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chipo_manage_lib_dirs',`
	gen_require(`
		type chipo_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, chipo_var_lib_t, chipo_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a chipo environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`chipo_admin',`
	gen_require(`
		type chipo_t;
		type chipo_initrc_exec_t;
		type chipo_var_lib_t;
	')

	allow $1 chipo_t:process { ptrace signal_perms };
	ps_process_pattern($1, chipo_t)

	chipo_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 chipo_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, chipo_var_lib_t)

')

